name: build
on:
  pull_request:
  push:
    branches:
      - master

concurrency:
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}
  group: ${{ github.ref }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          java-version: 8
          distribution: 'temurin'
          cache: 'maven'
      - run: cd tests && mvn clean test --batch-mode -Dmaven.test.failure.ignore=true
      - uses: ./
        if: github.ref != 'refs/heads/master'
        with:
          check_name: Example Surefire Test Report
      - uses: cclauss/GitHub-Action-for-pytest@0.5.0
        with:
          args: pytest  --junit-xml=python/report.xml python/ || exit 0
      - uses: ./
        if: github.ref != 'refs/heads/master'
        with:
          check_name: Example Pytest Report
          report_paths: python/report.xml
      - uses: actions/setup-go@v4
        with:
          go-version: 1.18.x
      - run: |
          cd go && 
            go install github.com/jstemmer/go-junit-report/v2@latest &&
            go test -v 2>&1 ./... |
            go-junit-report -out report.xml
      - uses: ./
        if: github.ref != 'refs/heads/master'
        with:
          check_name: Example Go Report
          report_paths: go/report.xml
          file_name_in_stack_trace: true
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm
      - run: npm install
      - run: npm run eslint
      - run: npm run test
