name: build
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
    steps:
      - uses: actions/checkout@v1
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-main-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-main-maven-
      - uses: actions/setup-java@v1
        with:
          java-version: 8
      - run: cd tests && mvn clean test --batch-mode -Dmaven.test.failure.ignore=true
      - uses: scacap/action-surefire-report@master
        if: endsWith(github.ref, 'master') == false
        with:
          check_name: Example Surefire Test Report
      - uses: cclauss/GitHub-Action-for-pytest@0.5.0
        with:
          args: pytest  --junit-xml=python/report.xml python/ || exit 0
      - uses: scacap/action-surefire-report@master
        if: endsWith(github.ref, 'master') == false
        with:
          check_name: Example Pytest Report
          report_paths: python/report.xml
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-cache-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-cache-
      - run: npm install
      - run: npm run eslint
      - run: npm run test
